<div class="row">
    <div class="col-md-7">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
    </div>
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 text-center">
        <h1 class="display-1 may-regular">frontrow</h1>
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch || radio || fromDate || toDate || latitude || longitude || artists.length > 0">
                    <fa-icon [icon]="'times'"></fa-icon>
                </button>
                <input ngx-google-places-autocomplete [options]="options" type="text" class="form-control col-xs-8 col-md-10"
                       id="currentSearch" name="currentSearch" [(ngModel)]="currentSearch"
                       placeholder="{{ 'frontrowApp.edition.location' | translate }}"
                       (onAddressChange)="handleAddressChange($event)">
                <select class="form-control col-xs-4 col-md-2" id="radio" name="radio" [(ngModel)]="radio" required>
                    <option value="undefined" disabled><span jhiTranslate="global.menu.radius">Radio</span></option>
                    <option value="10">10 km</option>
                    <option value="50">50 km</option>
                    <option value="100">100 km</option>
                    <option value="250">250 km</option>
                    <option value="500">500 km</option>
                    <option value="1000">1000 km</option>
                </select>
                <button class="input-group-append btn" [ngClass]="(fromDate || toDate || artists.length > 0) ? 'btn-info' : 'btn-secondary'" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="filters">
                    <fa-icon [icon]="'filter'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-info" (click)="search()">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
            </div>
        </form>
        <div class="row justify-content-center mt-2" id="filters" [@smoothCollapse]="isCollapsed?'initial':'final'">
            <div class="row col-12">
                <div class="form-group col-md-6">
                    <label class="form-control-label" jhiTranslate="global.menu.from" for="field_from">From</label>
                    <div class="input-group">
                        <input id="field_from" type="text" class="form-control" name="fromDate" ngbDatepicker #fromDateDp="ngbDatepicker" [(ngModel)]="fromDate"/>
                        <span class="input-group-append">
                                        <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                                    </span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label" jhiTranslate="global.menu.to" for="field_to">Until</label>
                    <div class="input-group">
                        <input id="field_to" type="text" class="form-control" name="toDate" ngbDatepicker #toDateDp="ngbDatepicker" [(ngModel)]="toDate"/>
                        <span class="input-group-append">
                                        <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                                    </span>
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-12">
                        <span class="ui-fluid small-autocomplete">
                            <p-autoComplete [(ngModel)]="artists" [suggestions]="filteredArtists" (completeMethod)="findArtists($event)"
                                            [minLength]="3" placeholder="Artists" name="artists" id="field_artists" [multiple]="true" field="name">
                            </p-autoComplete>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2 justify-content-center" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
    <div class="col-sm-8 col-lg-7" *ngFor="let edition of editions ;trackBy: trackId">
        <div class="card shadow-sm mt-3">
            <div class="row no-gutters">
                <div class="col-lg-12 d-flex align-items-stretch no-gutters">
                    <div class="col-lg-4" *ngIf="edition.logo" [ngStyle]="{ 'background-image' : 'url(\'data:' + edition.logoContentType + ';base64,' + edition.logo + '\')', 'background-size': 'contain', 'min-height' : '9em'}">
                    </div>
                    <div class="col-lg-4" *ngIf="!edition.logo" [ngStyle]="{ 'background-image' : 'url(https://reactstrap.github.io/assets/318x180.svg)', 'background-size': 'contain', 'min-height': '9em'}">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body row">
                            <div class="col-lg-9 col-xl-10">
                                <div class="card-title">
                                    <span *ngIf="edition.canceled" class="badge badge-warning"><fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon> <span jhiTranslate="frontrowApp.edition.canceled">Cancelado</span></span>
                                    <h3>{{edition.festivalName}} {{edition.startDate.year()}}</h3>
                                </div>
                                <div class="card-subtitle"><h6><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon> {{festivalDate(edition.startDate, edition.endDate)}}</h6></div>
                                <div class="card-subtitle"><h6><fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon> {{edition.location}}</h6></div>
                                <div class="card-text text-truncate-4lines text-justify">
                                    {{commaSeparatedArtists(edition.artists)}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <button class="btn btn-secondary float-right" [routerLink]="['../f', edition.festivalName, edition.startDate.year()]">
                                            <span jhiTranslate="global.menu.moreInfo">More info</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 text-center">
        <p jhiTranslate="global.menu.addNotFoundFestival">¿No encuentras el festival que buscabas? ¡Añadelo!</p>
        <button class="btn btn-primary" [routerLink]="['../add-festival']"><span jhiTranslate="global.menu.addFestival">Añadir festival</span></button>
    </div>
</div>
