<div>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-md-6">
            <h2 id="page-heading">
                <span jhiTranslate="global.menu.account.points">My points</span>
            </h2>
            <p><strong><span jhiTranslate="frontrowApp.contribution.youHave">You have</span> {{points != undefined ? points : 0}} <span jhiTranslate="frontrowApp.contribution.points">points</span>.</strong></p>
            <p jhiTranslate="frontrowApp.contribution.earnPoints">Earn points by adding content and contributing to the website. Keep in mind that contributions are validated manually by our editors, so points are not instantly awarded.</p>
            <ul>
                <li jhiTranslate="frontrowApp.contribution.feedback"><strong>Give feedback</strong>: Use the button in the details page of a festival if you see something wrong. You'll earn <strong>25 points</strong> once validated.</li>
                <li jhiTranslate="frontrowApp.contribution.collaborate"><strong>Collaborate</strong>: Add festivals using the button in the explore tab or edit their artists or image. You'll earn <strong>100 points</strong> once validated.</li>
                <li jhiTranslate="frontrowApp.contribution.comment"><strong>Comment</strong>: Comment news and festivals. You'll earn <strong>5 points</strong>. Flooding is not allowed.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>
                <span jhiTranslate="global.menu.account.badges">My badges</span>
            </h2>
            <p *ngIf="badges">
                <span *ngFor="let badge of badges | keyvalue" style="filter: drop-shadow(2px 1px 1px lightgray)">
                    <fa-icon style="color: {{badge.value}};" [icon]="badge.key" transform="grow-9 right-4"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </p>
            <p jhiTranslate="frontrowApp.contribution.badgesTypes">There are 5 different badges, each one in bronze, silver and gold. They show up in your comments.</p>
            <ul>
                <li jhiTranslate="frontrowApp.contribution.loyal"><strong>Loyal</strong>: Earn lots of points in one festival. <fa-icon [icon]="'heart'"></fa-icon></li>
                <li jhiTranslate="frontrowApp.contribution.globetrotter"><strong>Globetrotter</strong>: Earn points in different festivals around the world. <fa-icon [icon]="'globe-americas'"></fa-icon></li>
                <li jhiTranslate="frontrowApp.contribution.commentator"><strong>Commentator</strong>: Comment news and festivals. <fa-icon [icon]="'microphone'"></fa-icon></li>
                <li jhiTranslate="frontrowApp.contribution.collaborator"><strong>Collaborator</strong>: Collaborate adding festivals or editing them (or sending feedback). <fa-icon [icon]="'hands-helping'"></fa-icon></li>
                <li jhiTranslate="frontrowApp.contribution.headliner"><strong>Headliner</strong>: Earn lots of points. <fa-icon [icon]="'crown'"></fa-icon></li>
            </ul>
        </div>
    </div>

    <h3 jhiTranslate="frontrowApp.contribution.pointAttributionHistory">Point attribution history</h3>

    <div class="alert alert-warning" id="no-result" *ngIf="contributions?.length === 0">
        <span jhiTranslate="frontrowApp.contribution.home.notFound">No contributions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contributions && contributions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="points"><span jhiTranslate="frontrowApp.contribution.points">Points</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="frontrowApp.contribution.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="frontrowApp.contribution.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="festivalName"><span jhiTranslate="frontrowApp.contribution.festival">Festival</span> <fa-icon icon="sort"></fa-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contribution of contributions ;trackBy: trackId">
                    <td>+ {{ contribution.points }}</td>
                    <td>{{ contribution.date | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'frontrowApp.ContributionType.' + contribution.type }}">{{ contribution.type }}</td>
                    <td>
                        <div *ngIf="contribution.festivalId">
                            {{ contribution.festivalName }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contributions && contributions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
