<div>
    <h2 id="page-heading">
        <span jhiTranslate="frontrowApp.edition.home.title">Editions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-edition" [routerLink]="['/edition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="frontrowApp.edition.home.createLabel">
            Create a new Edition
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="editions?.length === 0">
        <span jhiTranslate="frontrowApp.edition.home.notFound">No editions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="editions && editions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="location"><span jhiTranslate="frontrowApp.edition.location">Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="latitude"><span jhiTranslate="frontrowApp.edition.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="longitude"><span jhiTranslate="frontrowApp.edition.longitude">Longitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="frontrowApp.edition.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="frontrowApp.edition.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="poster"><span jhiTranslate="frontrowApp.edition.poster">Poster</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="frontrowApp.edition.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spotifyPlaylist"><span jhiTranslate="frontrowApp.edition.spotifyPlaylist">Spotify Playlist</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="canceled"><span jhiTranslate="frontrowApp.edition.canceled">Canceled</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="visible"><span jhiTranslate="frontrowApp.edition.visible">Visible</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="report"><span jhiTranslate="frontrowApp.edition.report">Report</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="originalEdition"><span jhiTranslate="frontrowApp.edition.originalEdition">Original Edition</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span jhiTranslate="frontrowApp.edition.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="schedule"><span jhiTranslate="frontrowApp.edition.schedule">Schedule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="festivalName"><span jhiTranslate="frontrowApp.edition.festival">Festival</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let edition of editions ;trackBy: trackId">
                    <td><a [routerLink]="['/edition', edition.id, 'view']">{{ edition.id }}</a></td>
                    <td>{{ edition.location }}</td>
                    <td>{{ edition.latitude }}</td>
                    <td>{{ edition.longitude }}</td>
                    <td>{{ edition.startDate | date:'mediumDate' }}</td>
                    <td>{{ edition.endDate | date:'mediumDate' }}</td>
                    <td>
                        <a *ngIf="edition.poster" (click)="openFile(edition.posterContentType, edition.poster)">
                            <img [src]="'data:' + edition.posterContentType + ';base64,' + edition.poster" style="max-height: 30px;" alt="edition image"/>
                        </a>
                        <span *ngIf="edition.poster">{{ edition.posterContentType }}, {{ byteSize(edition.poster) }}</span>
                    </td>
                    <td>{{ edition.description }}</td>
                    <td>{{ edition.spotifyPlaylist }}</td>
                    <td>{{ edition.canceled }}</td>
                    <td>{{ edition.visible }}</td>
                    <td>{{ edition.report }}</td>
                    <td>{{ edition.originalEdition }}</td>
                    <td>{{ edition.price }}</td>
                    <td>{{ edition.schedule }}</td>
                    <td>
                        <div *ngIf="edition.festivalId">
                            <a [routerLink]="['/festival', edition.festivalId , 'view']" >{{ edition.festivalName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/edition', edition.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/edition', edition.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(edition)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
