<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="edition">
            <h2><span jhiTranslate="frontrowApp.edition.detail.title">Edition</span> {{ edition.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="frontrowApp.edition.location">Location</span></dt>
                <dd>
                    <span>{{ edition.location }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.latitude">Latitude</span></dt>
                <dd>
                    <span>{{ edition.latitude }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.longitude">Longitude</span></dt>
                <dd>
                    <span>{{ edition.longitude }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ edition.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.endDate">End Date</span></dt>
                <dd>
                    <span>{{ edition.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.poster">Poster</span></dt>
                <dd>
                    <div *ngIf="edition.poster">
                        <a (click)="openFile(edition.posterContentType, edition.poster)">
                            <img [src]="'data:' + edition.posterContentType + ';base64,' + edition.poster" style="max-width: 100%;" alt="edition image"/>
                        </a>
                        {{ edition.posterContentType }}, {{ byteSize(edition.poster) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.description">Description</span></dt>
                <dd>
                    <span>{{ edition.description }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.spotifyPlaylist">Spotify Playlist</span></dt>
                <dd>
                    <span>{{ edition.spotifyPlaylist }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.canceled">Canceled</span></dt>
                <dd>
                    <span>{{ edition.canceled }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.visible">Visible</span></dt>
                <dd>
                    <span>{{ edition.visible }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.report">Report</span></dt>
                <dd>
                    <span>{{ edition.report }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.originalEdition">Original Edition</span></dt>
                <dd>
                    <span>{{ edition.originalEdition }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.price">Price</span></dt>
                <dd>
                    <span>{{ edition.price }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.schedule">Schedule</span></dt>
                <dd>
                    <span>{{ edition.schedule }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.artist">Artist</span></dt>
                <dd>
                    <span *ngFor="let artist of edition.artists; let last = last">
                        <a [routerLink]="['/artist', artist?.id, 'view']">{{ artist.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.edition.festival">Festival</span></dt>
                <dd>
                    <div *ngIf="edition.festivalId">
                        <a [routerLink]="['/festival', edition.festivalId, 'view']">{{ edition.festivalName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/edition', edition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
