<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-edition-heading" jhiTranslate="frontrowApp.edition.home.createOrEditLabel">Create or edit a Edition</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                           formControlName="location"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.latitude" for="field_latitude">Latitude</label>
                    <input type="number" class="form-control" name="latitude" id="field_latitude"
                           formControlName="latitude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.longitude" for="field_longitude">Longitude</label>
                    <input type="number" class="form-control" name="longitude" id="field_longitude"
                           formControlName="longitude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker #startDateDp="ngbDatepicker" formControlName="startDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker #endDateDp="ngbDatepicker" formControlName="endDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.poster" for="field_poster">Poster</label>
                    <div>
                        <img [src]="'data:' + editForm.get('posterContentType')!.value + ';base64,' + editForm.get('poster')!.value" style="max-height: 100px;" *ngIf="editForm.get('poster')!.value" alt="edition image"/>
                        <div *ngIf="editForm.get('poster')!.value" class="form-text text-danger clearfix">
                            <span class="float-left">{{ editForm.get('posterContentType')!.value }}, {{ byteSize(editForm.get('poster')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('poster', 'posterContentType', 'file_poster')" class="btn btn-secondary btn-xs float-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_poster" (change)="setFileData($event, 'poster', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="poster" id="field_poster"
                           formControlName="poster"/>
                    <input type="hidden" class="form-control" name="posterContentType" id="field_posterContentType"
                           formControlName="posterContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.spotifyPlaylist" for="field_spotifyPlaylist">Spotify Playlist</label>
                    <input type="text" class="form-control" name="spotifyPlaylist" id="field_spotifyPlaylist"
                           formControlName="spotifyPlaylist"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.canceled" for="field_canceled">Canceled</label>
                    <input type="checkbox" class="form-control" name="canceled" id="field_canceled"
                           formControlName="canceled"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.visible" for="field_visible">Visible</label>
                    <input type="checkbox" class="form-control" name="visible" id="field_visible"
                           formControlName="visible"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.report" for="field_report">Report</label>
                    <input type="text" class="form-control" name="report" id="field_report"
                           formControlName="report"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.originalEdition" for="field_originalEdition">Original Edition</label>
                    <input type="number" class="form-control" name="originalEdition" id="field_originalEdition"
                           formControlName="originalEdition"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.price" for="field_price">Price</label>
                    <input type="text" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                    <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 7 }">
                        This field cannot be longer than 7 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.schedule" for="field_schedule">Schedule</label>
                    <input type="text" class="form-control" name="schedule" id="field_schedule"
                           formControlName="schedule"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="frontrowApp.edition.artist" for="field_artists">Artist</label>
                    <select class="form-control" id="field_artists" multiple name="artists" formControlName="artists">
                        <option [ngValue]="getSelected(editForm.get('artists')!.value, artistOption)" *ngFor="let artistOption of artists; trackBy: trackById">{{ artistOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.festival" for="field_festival">Festival</label>
                    <select class="form-control" id="field_festival" name="festival" formControlName="festivalId">
                        <option *ngIf="!editForm.get('festivalId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="festivalOption.id" *ngFor="let festivalOption of festivals; trackBy: trackById">{{ festivalOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('festivalId')!.invalid && (editForm.get('festivalId')!.dirty || editForm.get('festivalId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('festivalId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
