<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-edition-heading" jhiTranslate="frontrowApp.festival.home.createLabel">Add a new festival</h2>
            <h3 id="fullname">&nbsp;</h3>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="form-control-label" jhiTranslate="frontrowApp.festival.name" for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name" (ngModelChange)="updateFullname()"
                            formControlName="name" [ngbTypeahead]="searchFestival" />
                        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                            <small class="form-text text-danger"
                                *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-lg-3">
                        <label class="form-control-label" jhiTranslate="frontrowApp.edition.startDate" for="field_startDate">Start Date</label>
                        <div class="input-group">
                            <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" formControlName="startDate"
                                (ngModelChange)="updateFullname()" />
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-lg-3">
                        <label class="form-control-label" jhiTranslate="frontrowApp.edition.endDate" for="field_endDate">End Date</label>
                        <div class="input-group">
                            <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" formControlName="endDate" />
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="form-control-label" jhiTranslate="frontrowApp.edition.location" for="field_location">Location</label>
                        <input ngx-google-places-autocomplete [options]="options" type="text" class="form-control" name="location" id="field_location" (onAddressChange)="handleAddressChange($event)"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.poster" for="field_poster">Poster</label>
                    <div>
                        <img [src]="'data:' + editForm.get('posterContentType')!.value + ';base64,' + editForm.get('poster')!.value" style="max-height: 100px;" *ngIf="editForm.get('poster')!.value" alt="edition image"/>
                        <div *ngIf="editForm.get('poster')!.value" class="form-text text-danger clearfix">
                            <span class="float-left">{{editForm.get('posterContentType')!.value}}, {{byteSize(editForm.get('poster')!.value)}}</span>
                            <button type="button" (click)="clearInputImage('poster', 'posterContentType', 'file_poster')" class="btn btn-secondary btn-xs float-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_poster" (change)="setFileData($event, 'poster', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="poster" id="field_poster"
                        formControlName="poster"/>
                    <input type="hidden" class="form-control" name="posterContentType" id="field_posterContentType"
                        formControlName="posterContentType" />
                </div>
                <div class="row col-12">
                    <legend><span jhiTranslate="frontrowApp.edition.artists">Artistas</span></legend>
                </div>
                <div>
                    <div class="form-group">
                        <span class="ui-fluid">
                            <p-autoComplete formControlName="artists" [suggestions]="filteredArtists" (completeMethod)="findArtists($event)" size="10"
                                            [minLength]="1" placeholder="Artists" name="artists" id="field_artists" [multiple]="true" field="name">
                            </p-autoComplete>
                        </span>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
