<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span jhiTranslate="frontrowApp.comment.detail.title">Comment</span> {{ comment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="frontrowApp.comment.text">Text</span></dt>
                <dd>
                    <span>{{ comment.text }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.comment.date">Date</span></dt>
                <dd>
                    <span>{{ comment.date }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.comment.post">Post</span></dt>
                <dd>
                    <div *ngIf="comment.postId">
                        <a [routerLink]="['/post', comment.postId, 'view']">{{ comment.postId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="frontrowApp.comment.festival">Festival</span></dt>
                <dd>
                    <div *ngIf="comment.festivalId">
                        <a [routerLink]="['/festival', comment.festivalId, 'view']">{{ comment.festivalId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="frontrowApp.comment.author">Author</span></dt>
                <dd>
                    {{ comment.authorLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
