<div>
    <h2 id="page-heading">
        <span jhiTranslate="frontrowApp.comment.home.title">Comments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comment" [routerLink]="['/comment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="frontrowApp.comment.home.createLabel">
            Create a new Comment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="comments?.length === 0">
        <span jhiTranslate="frontrowApp.comment.home.notFound">No comments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="comments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span jhiTranslate="frontrowApp.comment.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="frontrowApp.comment.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postId"><span jhiTranslate="frontrowApp.comment.post">Post</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="festivalId"><span jhiTranslate="frontrowApp.comment.festival">Festival</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="authorLogin"><span jhiTranslate="frontrowApp.comment.author">Author</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let comment of comments ;trackBy: trackId">
                    <td><a [routerLink]="['/comment', comment.id, 'view']">{{ comment.id }}</a></td>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.date | date:'medium' }}</td>
                    <td>
                        <div *ngIf="comment.postId">
                            <a [routerLink]="['/post', comment.postId , 'view']" >{{ comment.postId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="comment.festivalId">
                            <a [routerLink]="['/festival', comment.festivalId , 'view']" >{{ comment.festivalId }}</a>
                        </div>
                    </td>
                    <td>
                        {{ comment.authorLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/comment', comment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/comment', comment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(comment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
