<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-edition-heading" jhiTranslate="frontrowApp.post.home.createLabel">Add a new post</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label class="form-control-label" jhiTranslate="frontrowApp.post.title" for="field_title">Title</label>
                        <input type="text" class="form-control" name="title" id="field_title"
                               formControlName="title"/>
                        <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('title')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                                This field is required to be at least 10 characters.
                            </small>
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('title')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                                This field cannot be longer than 100 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label class="form-control-label" jhiTranslate="frontrowApp.post.content" for="field_content">Content</label>
                        <p-editor id="field_content" formControlName="content" [style]="{'height':'320px'}"></p-editor>
                    </div>
                </div>
            </div>
            <div class="float-right mt-3">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
