<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
        <div *ngIf="edition">
            <div class="col-12">
                <div class="row d-flex justify-content-between align-items-center">
                    <h2 class="display-4">{{edition.festivalName}} {{edition.startDate != undefined ? edition.startDate.year() : ''}} </h2>

                    <h2 *ngIf="edition.canceled"><span class="badge badge-warning"><fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon> <span jhiTranslate="frontrowApp.edition.canceled">Cancelado</span></span></h2>

                    <div>
                        <a class="btn btn-primary" [routerLink]="['/validate', edition.id]" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                jhiTranslate="entity.action.edit">Edit</a>
                        <button class="btn btn-success" (click)="setFollow(true)" *ngIf="!edition.followed"
                                jhiTranslate="frontrowApp.festival.follow">Follow</button>
                        <button class="btn btn-danger" (click)="setFollow(false)" *ngIf="edition.followed"
                                jhiTranslate="frontrowApp.festival.unfollow">Unfollow</button>
                    </div>
                </div>
            </div>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-md-4">
                    <div *ngIf="edition.poster" class="row">
                        <div class="col-12 text-center mb-3">
                            <a (click)="openFile(edition.posterContentType!, edition.poster)">
                                <img [src]="'data:' + edition.posterContentType + ';base64,' + edition.poster" style="max-width: 100%;" alt="Line up {{edition.festivalName}} {{edition.startDate != undefined ? edition.startDate.year() : ''}}"/>
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-sm btn-primary" (click)="updatePoster()"
                                jhiTranslate="frontrowApp.festival.updatePoster">Update poster</button>
                    </div>
                    <div class="row justify-content-center mt-3" *ngIf="edition.spotifyPlaylist">
                        <iframe title="Spotify playlist" [src]="'https://open.spotify.com/embed/playlist/' + this.edition.spotifyPlaylist.split('/').splice(-1)[0]  | safe: 'resourceUrl'" width="100%" height="350" style="border:0; max-width:350px;" allow="encrypted-media"></iframe>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <a *ngIf="edition.web" class="btn btn-lg btn-link ml-1 mr-1" [href]="edition.web"><fa-icon [icon]="['fas', 'home']"></fa-icon></a>
                        <a *ngIf="edition.twitter" class="btn btn-lg btn-link ml-1 mr-1" [href]="edition.twitter"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
                        <a *ngIf="edition.facebook" class="btn btn-lg btn-link ml-1 mr-1" [href]="edition.facebook"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
                        <a *ngIf="edition.instagram" class="btn btn-lg btn-link ml-1 mr-1" [href]="edition.instagram"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-12">
                        <div class="row mt-3 d-flex justify-content-between">
                            <div class="mr-2 ml-2">
                                <h4><fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon> {{edition.location}}</h4>
                            </div>
                            <div class="mr-2 ml-2">
                                <h4><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon> {{festivalDate(edition.startDate, edition.endDate)}}</h4>
                            </div>
                            <div class="mr-2 ml-2" *ngIf="edition.price">
                                <a [href]="edition.web" target="_blank"><h4><fa-icon style="color: #222;" [icon]="['fas', 'tags']"></fa-icon> {{edition.price}}</h4></a>
                            </div>
                            <div class="mr-2 ml-2" *ngIf="edition.schedule">
                                <a [href]="edition.schedule" target="_blank"><h4><fa-icon style="color: #222;" [icon]="['fas', 'clock']"></fa-icon> <span jhiTranslate="frontrowApp.edition.schedule">Clashfinder</span></h4></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                        <div class="col-12" *ngIf="edition.location && edition.startDate && edition.endDate">
                            <div class="row">
                                <h4 jhiTranslate="frontrowApp.festival.accomodation">Find accomodation:</h4>
                            </div>
                            <div class="row d-flex justify-content-between">
                                <div class="mr-2 ml-2">
                                    <a class="btn btn-outline-dark" target="_blank" [href]="'https://airbnb.com/s/' + edition.location.replace(' ', '-') + '/homes?tab_id=all_tab&refinement_paths%5B%5D=%2Fhomes&checkin=' + edition.startDate.format('YYYY-MM-DD') + '&checkout=' + edition.endDate.format('YYYY-MM-DD') + '&source=structured_search_input_header&search_type=search_query'">
                                        Airbnb
                                    </a>
                                </div>
                                <div class="mr-2 ml-2">
                                    <a class="btn btn-outline-dark" target="_blank" [href]="'https://www.homeaway.com/search/keywords:' + edition.location.replace(' ', '-') + '/arrival:' + edition.startDate.format('YYYY-MM-DD') + '/departure:' + edition.endDate.format('YYYY-MM-DD') + '?adultsCount=1&petIncluded=false'">
                                        HomeAway
                                    </a>
                                </div>
                                <div class="mr-2 ml-2">
                                    <a class="btn btn-outline-dark" target="_blank" [href]="'https://all.accor.com/ssr/app/accor/hotels/' + edition.location.replace(' ', '-') + '/index.es.shtml?dateIn=' + edition.startDate.format('YYYY-MM-DD') + '&nights=' + edition.endDate.diff(edition.startDate, 'days') + '&compositions=1&stayplus=false'">
                                        Accor Live Limitless
                                    </a>
                                </div>
                                <div class="mr-2 ml-2">
                                    <a class="btn btn-outline-dark" target="_blank" [href]="'https://www.expedia.com/Hotel-Search?adults=1&endDate=' + edition.endDate.format('YYYY-MM-DD') + '&latLong=' + edition.latitude + '%2C' + edition.longitude + '&rooms=1&semdtl=&sort=RECOMMENDED&startDate=' + edition.startDate.format('YYYY-MM-DD') + '&theme=&useRewards=false&userIntent'">
                                        Expedia
                                    </a>
                                </div>
                            </div>
                        </div>
                    <hr>
                    <div class="col-12">
                        <div class="row d-flex justify-content-between align-items-center">
                                <h4 jhiTranslate="frontrowApp.festival.artists">Artists:</h4>
                                <button class="btn btn-sm btn-primary mb-2" (click)="manageArtists()"
                                        jhiTranslate="frontrowApp.festival.addArtists">Añadir artistas</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mt-1 d-flex">
                            <div class="mb-3 flex-fill mr-1 ml-1" *ngFor="let artist of edition.artists">
                                <a href="#" class="btn btn-secondary btn-sm btn-block">{{artist.name}}</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>

                    </div>
                </div>
            </div>
            <hr/>
            <div *ngIf="posts.length > 0">
                <div class="col-12">
                    <h2 jhiTranslate="home.latestNews">Latest news</h2>
                </div>
                <div class="col-12">
                    <ngb-carousel *ngIf="posts">
                        <ng-template ngbSlide *ngFor="let post of posts; trackBy: trackPostId">
                            <div class="row">
                            <div class="col-sm-10 offset-sm-1">
                            <a *ngIf="post.handle" [routerLink]="['post', post.handle]" class="stretched-link">
                            </a>
                            <div class="row no-gutters">
                                <div class="col-lg-12 d-flex align-items-stretch no-gutters">
                                    <div class="col-lg-4" *ngIf="post.logo" [ngStyle]="{ 'background-image' : 'url(\'data:' + post.logoContentType + ';base64,' + post.logo + '\')', 'background-size': 'contain', 'min-height' : '9em'}">
                                    </div>
                                    <div class="col-lg-4" *ngIf="!post.logo" [ngStyle]="{ 'background-image' : 'url(https://reactstrap.github.io/assets/318x180.svg)', 'background-size': 'contain', 'min-height': '9em'}">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body row">
                                            <div class="col-12">
                                                <div class="card-title">
                                                    <h3 *ngIf="post.template" jhiTranslate="{{post.template}}"
                                                        [translateValues]="post.template == 'frontrowApp.post.templates.twoArtists' ? {artist1: post.title.split(', ')[0], artist2: post.title.split(', ')[1], festival: post.editionName + ' ' + post.editionYear}  : {artists: post.title, festival: post.editionName + ' ' + post.editionYear}">
                                                        {{post.title}}
                                                    </h3>
                                                    <h3 *ngIf="!post.template">
                                                        {{post.title}}
                                                    </h3>
                                                </div>
                                                <div class="card-subtitle"><h6><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon> {{postDate(post.date)}}</h6></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>

            </div>
            <hr/>
            <div class="row justify-content-center">
                <button class="btn btn-sm btn-primary" (click)="sendReport()"
                        jhiTranslate="frontrowApp.festival.report">See something wrong?</button>
            </div>
            <hr/>
            <div class="col-12 blog-comment">
                <h4 jhiTranslate="frontrowApp.comment.comments">Comentarios</h4>
                <div class="row">
                    <form class="col-12" name="commentForm" role="form" novalidate (ngSubmit)="addComment()" [formGroup]="commentForm">
                        <div>
                            <div>
                                <div class="form-group">
                                    <textarea rows="2" class="form-control" id="field_comment" formControlName="text"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="float-right">
                            <button type="submit" id="save-entity" [disabled]="commentForm.invalid || isSaving" class="btn btn-primary">
                                <fa-icon [icon]="'comments'"></fa-icon>&nbsp;<span jhiTranslate="frontrowApp.comment.comment">Comentar</span>
                            </button>
                        </div>
                    </form>
                </div>
                <ul class="comments mt-3" *ngIf="comments?.length > 0" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <li class="clearfix" *ngFor="let comment of comments ;trackBy: trackId">
                        <img src="{{comment.authorImageUrl ? comment.authorImageUrl : 'https://bootdey.com/img/Content/user_2.jpg'}}" class="avatar" alt="">
                        <div class="post-comments">
                            <p class="meta">
                                <a href="#">{{comment.authorLogin}}</a>:
                                <em class="float-right meta">{{dateTime(comment!.date)}}</em>
                                <span *ngFor="let badge of comment.authorBadges | keyvalue" class="float-right meta" style="filter: drop-shadow(2px 1px 1px lightgray)">
                                    <fa-icon style="color: {{badge.value}};" [icon]="badge.key" transform="grow-9 right-4"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </p>
                            <p [innerText]="comment.text">
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
