<form *ngIf="edition" name="manageArtistsForm" (ngSubmit)="save()">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="frontrowApp.festival.artists">Artists</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="col-12">
            <div class="form-group">
                <span class="ui-fluid">
                <p-autoComplete [(ngModel)]="artists" [suggestions]="filteredArtists" (completeMethod)="findArtists($event)" size="10"
                                [minLength]="1" placeholder="Artists" name="artists" id="field_artists" [multiple]="true" field="name">
                </p-autoComplete>
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="isSaving">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
