<form *ngIf="edition" name="sendReportForm" (ngSubmit)="save()" [formGroup]="reportForm">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="frontrowApp.festival.report">See something wrong?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="frontrowApp.edition.report" for="field_report">Report</label>
                <input type="text" class="form-control" name="report" id="field_report"
                       formControlName="report"/>
            </div>
            <div *ngIf="reportForm.get('report')!.invalid && (reportForm.get('report')!.dirty || reportForm.get('report')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="reportForm.get('report')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="reportForm.invalid || isSaving">
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
