<form *ngIf="edition" name="posterForm" (ngSubmit)="save()" [formGroup]="posterForm">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="frontrowApp.festival.updatePoster">Submit new poster</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="frontrowApp.edition.poster" for="field_poster">Poster</label>
                <div>
                    <img [src]="'data:' + posterForm.get('posterContentType')!.value + ';base64,' + posterForm.get('poster')!.value" style="max-height: 100px;" *ngIf="posterForm.get('poster')!.value" alt="edition image"/>
                    <input type="file" id="file_poster" (change)="setFileData($event, 'poster', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                </div>
                <input type="hidden" class="form-control" name="poster" id="field_poster"
                       formControlName="poster"/>
                <input type="hidden" class="form-control" name="posterContentType" id="field_posterContentType"
                       formControlName="posterContentType" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="posterForm.invalid || isSaving">
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
