<div>
    <h2 id="page-heading">
        <span jhiTranslate="global.menu.validate">Validations</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="editions?.length === 0">
        <span jhiTranslate="global.menu.validationsNotFound">No validations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="editions && editions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                <th scope="col"  jhiSortBy="festivalName"><span jhiTranslate="frontrowApp.edition.festival">Festival</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="frontrowApp.edition.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="report"><span jhiTranslate="frontrowApp.edition.report">Report</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">createdDate</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="userManagement.createdBy">createdBy</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let edition of editions ;trackBy: trackId">
                <td><a [routerLink]="['/validate', edition.id]">{{ edition.festivalName }} {{ edition.startDate | date:'y' }}</a></td>
                <td>{{ edition.startDate | date:'mediumDate' }}</td>
                <td>{{ edition.report }}</td>
                <td>{{ edition.createdDate | date:'medium' }}</td>
                <td>{{ edition.createdBy }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/validate', edition.id]"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit" (click)="delete(edition)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
