<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate [formGroup]="editForm">
            <h2 id="jhi-edition-heading" jhiTranslate="global.menu.validate">Validations</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <hr/>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontrowApp.edition.report" for="field_report">Report</label>
                    <input type="text" class="form-control" name="report" id="field_report"
                           formControlName="report" readonly />
                </div>

                <hr/>

                <h4 jhiTranslate="global.menu.validationsFestivalInfo">Datos del festival</h4>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group col-12">
                            <label class="form-control-label" jhiTranslate="frontrowApp.festival.logo" for="field_logo">Logo</label>
                            <div>
                                <img [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value" style="max-height: 100px;" *ngIf="editForm.get('logo')!.value" alt="festival logo"/>
                                <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
                                    <span class="float-left">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
                                    <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'file_logo')" class="btn btn-secondary btn-xs float-right">
                                        <fa-icon icon="times"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_logo" (change)="setFileData($event, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                            </div>
                            <input type="hidden" class="form-control" name="logo" id="field_logo"
                                   formControlName="logo"/>
                            <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                                   formControlName="logoContentType" />
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="form-control-label" jhiTranslate="frontrowApp.festival.name" for="field_name">Name</label>
                                <input type="text" class="form-control" name="name" id="field_name"
                                       formControlName="festivalName"/>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="form-control-label" jhiTranslate="frontrowApp.festival.web" for="field_web">Web</label>
                                <input type="text" class="form-control" name="web" id="field_web"
                                       formControlName="web"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="form-control-label" jhiTranslate="frontrowApp.festival.facebook" for="field_facebook">Facebook</label>
                                <input type="text" class="form-control" name="facebook" id="field_facebook"
                                       formControlName="facebook"/>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="form-control-label" jhiTranslate="frontrowApp.festival.twitter" for="field_twitter">Twitter</label>
                                <input type="text" class="form-control" name="twitter" id="field_twitter"
                                       formControlName="twitter"/>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="form-control-label" jhiTranslate="frontrowApp.festival.instagram" for="field_instagram">Instagram</label>
                                <input type="text" class="form-control" name="instagram" id="field_instagram"
                                       formControlName="instagram"/>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <h4 jhiTranslate="global.menu.validationsEditionInfo">Datos de la edición</h4>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group col-12">
                            <label class="form-control-label" jhiTranslate="frontrowApp.edition.poster" for="field_poster">Poster</label>
                            <div>
                                <img [src]="'data:' + editForm.get('posterContentType')!.value + ';base64,' + editForm.get('poster')!.value" style="max-height: 100px;" *ngIf="editForm.get('poster')!.value" alt="edition image"/>
                                <div *ngIf="editForm.get('poster')!.value" class="form-text text-danger clearfix">
                                    <span class="float-left">{{ editForm.get('posterContentType')!.value }}, {{ byteSize(editForm.get('poster')!.value) }}</span>
                                    <button type="button" (click)="clearInputImage('poster', 'posterContentType', 'file_poster')" class="btn btn-secondary btn-xs float-right">
                                        <fa-icon icon="times"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_poster" (change)="setFileData($event, 'poster', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                            </div>
                            <input type="hidden" class="form-control" name="poster" id="field_poster"
                                   formControlName="poster"/>
                            <input type="hidden" class="form-control" name="posterContentType" id="field_posterContentType"
                                   formControlName="posterContentType" />
                        </div>
                        <div class="col-12" *ngIf="this.edition?.originalEditionInfo?.poster && this.edition?.originalEditionInfo?.poster != editForm.get('poster')!.value">
                            <small>Previous:</small>
                            <img [src]="'data:' + this.edition!.originalEditionInfo!.posterContentType + ';base64,' + this.edition!.originalEditionInfo!.poster" style="max-height: 75px;" alt="previous edition poster"/>
                            <a id="restore-poster" class="btn btn-sm btn-secondary float-right mt-3" (click)="restorePoster()">
                                <fa-icon icon="angle-double-up"></fa-icon>&nbsp;<span jhiTranslate="entity.action.restore">Restore</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="form-group col-md-9 col-xl-10">
                                <label class="form-control-label" jhiTranslate="frontrowApp.edition.location" for="field_location">Location</label>
                                <input ngx-google-places-autocomplete [options]="options" type="text" class="form-control" name="location" id="field_location" (onAddressChange)="handleAddressChange($event)" formControlName="location"/>
                            </div>
                            <div class="form-group col-md-3 col-xl-2">
                                <label class="form-control-label" jhiTranslate="frontrowApp.edition.price" for="field_price">Price</label>
                                <input type="text" class="form-control" name="price" id="field_price"
                                       formControlName="price"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="form-control-label" jhiTranslate="frontrowApp.edition.startDate" for="field_startDate">Start Date</label>
                                <div class="input-group">
                                    <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker #startDateDp="ngbDatepicker" formControlName="startDate"/>
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                                    </span>
                                </div>
                                <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('startDate')?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-control-label" jhiTranslate="frontrowApp.edition.endDate" for="field_endDate">End Date</label>
                                <div class="input-group">
                                    <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker #endDateDp="ngbDatepicker" formControlName="endDate"/>
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label class="form-control-label" jhiTranslate="frontrowApp.edition.spotifyPlaylist" for="field_spotifyPlaylist">Spotify Playlist</label>
                                <input type="text" class="form-control" name="spotifyPlaylist" id="field_spotifyPlaylist"
                                       formControlName="spotifyPlaylist"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label class="form-control-label" jhiTranslate="frontrowApp.edition.schedule" for="field_schedule">Clashfinder</label>
                                <input type="text" class="form-control" name="schedule" id="field_schedule"
                                       formControlName="schedule"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check float-right">
                                    <label class="form-check-label" for="field_canceled">
                                        <input class="form-check-input" type="checkbox" name="canceled" id="field_canceled" formControlName="canceled"/>
                                        <span jhiTranslate="frontrowApp.edition.canceled">Canceled</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <h4 jhiTranslate="frontrowApp.artist.home.title">Artists</h4>
                <div class="row">
                    <div class="form-group col-12">
                        <span class="ui-fluid">
                            <p-autoComplete formControlName="artists" [suggestions]="filteredArtists" (completeMethod)="findArtists($event)" size="10"
                                            [minLength]="1" placeholder="Artists" name="artists" id="field_artists" [multiple]="true" field="name">
                            </p-autoComplete>
                        </span>
                    </div>
                </div>
                <small class="form-text mt-0"><span jhiTranslate="global.menu.validationsAdded">Added:</span> {{this.addedArtists}}</small>
                <small class="form-text text-danger mt-0"><span jhiTranslate="global.menu.validationsRemoved">Removed:</span> {{this.removedArtists}}</small>

                <div *ngIf="this.addedArtists != ''">
                    <hr/>
                    <h4 jhiTranslate="global.menu.validationsFeedPostPreview">Feed post preview</h4>
                    <div class="row justify-content-center">
                        <div class="col-xs-12 col-lg-8">
                            <div class="card shadow-sm">
                                <a href="#" class="stretched-link">
                                </a>
                                <div class="row no-gutters">
                                    <div class="col-lg-12 d-flex align-items-stretch no-gutters">
                                        <div class="col-lg-4" *ngIf="editForm.get('logo')!.value" [ngStyle]="{ 'background-image' : 'url(\'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value + '\')', 'background-size': 'contain', 'min-height' : '9em'}">
                                        </div>
                                        <div class="col-lg-4" *ngIf="!editForm.get('logo')!.value" [ngStyle]="{ 'background-image' : 'url(https://reactstrap.github.io/assets/318x180.svg)', 'background-size': 'contain', 'min-height': '9em'}">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body row">
                                                <div class="col-12">
                                                    <div class="card-title">
                                                        <h3 jhiTranslate="{{this.template}}"
                                                            [translateValues]="this.template == 'frontrowApp.post.templates.twoArtists' || this.template == 'frontrowApp.post.templates.moreArtists' ? {artist1: this.addedArtists.split(', ')[0], artist2: this.addedArtists.split(', ')[1], artists: this.addedArtists.split(', ')[0] + ', ' + this.addedArtists.split(', ')[1], festival: editForm.get('festivalName')!.value + ' ' + editForm.get('startDate')!.value.year()}  : {artists: this.addedArtists, festival: editForm.get('festivalName')!.value + ' ' + editForm.get('startDate')!.value.year()}">
                                                            Feed post title
                                                        </h3>
                                                    </div>
                                                    <div class="card-subtitle"><h6><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon> {{ this.currentDate | date:'mediumDate' }}</h6></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-12">
                    <div class="form-check float-right">
                        <label class="form-check-label" for="field_post">
                            <input class="form-check-input" type="checkbox" name="post" id="field_post" formControlName="createPost"/>
                            <span jhiTranslate="frontrowApp.edition.createPost">Create feed post</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="float-right mt-1">
                <button type="button" id="cancel" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button *ngIf="!edition!.visible" type="submit" id="validate-nopoints" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (click)="save(false)">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.validate.nopoints">Validate without points</span>
                </button>

                <button type="submit" id="validate" [disabled]="editForm.invalid || isSaving" class="btn btn-success" (click)="save(true)">
                    <fa-icon icon="coins"></fa-icon>&nbsp;<span jhiTranslate="entity.action.validate">Validate</span>
                </button>
            </div>
        </form>
    </div>
</div>
