<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contribution">
            <h2><span jhiTranslate="frontrowApp.contribution.detail.title">Contribution</span> {{ contribution.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="frontrowApp.contribution.points">Points</span></dt>
                <dd>
                    <span>{{ contribution.points }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.contribution.date">Date</span></dt>
                <dd>
                    <span>{{ contribution.date }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.contribution.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'frontrowApp.ContributionType.' + contribution.type }}">{{ contribution.type }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.contribution.festival">Festival</span></dt>
                <dd>
                    <div *ngIf="contribution.festivalId">
                        <a [routerLink]="['/festival', contribution.festivalId, 'view']">{{ contribution.festivalId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="frontrowApp.contribution.user">User</span></dt>
                <dd>
                    {{ contribution.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contribution', contribution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
