<div>
    <h2 id="page-heading">
        <span jhiTranslate="frontrowApp.contribution.home.title">Contributions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contribution" [routerLink]="['/contribution/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="frontrowApp.contribution.home.createLabel">
            Create a new Contribution
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contributions?.length === 0">
        <span jhiTranslate="frontrowApp.contribution.home.notFound">No contributions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contributions && contributions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="points"><span jhiTranslate="frontrowApp.contribution.points">Points</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="frontrowApp.contribution.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="frontrowApp.contribution.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="festivalId"><span jhiTranslate="frontrowApp.contribution.festival">Festival</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="frontrowApp.contribution.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contribution of contributions ;trackBy: trackId">
                    <td><a [routerLink]="['/contribution', contribution.id, 'view']">{{ contribution.id }}</a></td>
                    <td>{{ contribution.points }}</td>
                    <td>{{ contribution.date | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'frontrowApp.ContributionType.' + contribution.type }}">{{ contribution.type }}</td>
                    <td>
                        <div *ngIf="contribution.festivalId">
                            <a [routerLink]="['/festival', contribution.festivalId , 'view']" >{{ contribution.festivalId }}</a>
                        </div>
                    </td>
                    <td>
                        {{ contribution.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contribution', contribution.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contribution', contribution.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contribution)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contributions && contributions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
