<div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h1 jhiTranslate="error.title">Error Page!</h1>

            <div *ngIf="errorMessage">
                <div class="alert alert-danger">{{ errorMessage }}</div>
            </div>
        </div>
    </div>
</div>
