<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="festival">
            <h2><span jhiTranslate="frontrowApp.festival.detail.title">Festival</span> {{ festival.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="frontrowApp.festival.name">Name</span></dt>
                <dd>
                    <span>{{ festival.name }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.festival.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="festival.logo">
                        <a (click)="openFile(festival?.logoContentType!, festival?.logo)">
                            <img [src]="'data:' + festival.logoContentType + ';base64,' + festival.logo" style="max-width: 100%;" alt="festival image"/>
                        </a>
                        {{ festival.logoContentType }}, {{ byteSize(festival.logo) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="frontrowApp.festival.web">Web</span></dt>
                <dd>
                    <span>{{ festival.web }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.festival.facebook">Facebook</span></dt>
                <dd>
                    <span>{{ festival.facebook }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.festival.twitter">Twitter</span></dt>
                <dd>
                    <span>{{ festival.twitter }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.festival.instagram">Instagram</span></dt>
                <dd>
                    <span>{{ festival.instagram }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/festival', festival.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
