<div>
    <h2 id="page-heading">
        <span jhiTranslate="frontrowApp.festival.home.title">Festivals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-festival" [routerLink]="['/festival/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="frontrowApp.festival.home.createLabel">
            Create a new Festival
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="festivals?.length === 0">
        <span jhiTranslate="frontrowApp.festival.home.notFound">No festivals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="festivals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="frontrowApp.festival.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logo"><span jhiTranslate="frontrowApp.festival.logo">Logo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="web"><span jhiTranslate="frontrowApp.festival.web">Web</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="facebook"><span jhiTranslate="frontrowApp.festival.facebook">Facebook</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="twitter"><span jhiTranslate="frontrowApp.festival.twitter">Twitter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instagram"><span jhiTranslate="frontrowApp.festival.instagram">Instagram</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let festival of festivals ;trackBy: trackId">
                    <td><a [routerLink]="['/festival', festival.id, 'view']">{{ festival.id }}</a></td>
                    <td>{{ festival.name }}</td>
                    <td>
                        <a *ngIf="festival.logo" (click)="openFile(festival.logoContentType, festival.logo)">
                            <img [src]="'data:' + festival.logoContentType + ';base64,' + festival.logo" style="max-height: 30px;" alt="festival image"/>
                        </a>
                        <span *ngIf="festival.logo">{{ festival.logoContentType }}, {{ byteSize(festival.logo) }}</span>
                    </td>
                    <td>{{ festival.web }}</td>
                    <td>{{ festival.facebook }}</td>
                    <td>{{ festival.twitter }}</td>
                    <td>{{ festival.instagram }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/festival', festival.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/festival', festival.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(festival)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="festivals?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
