<div class="row">
    <div class="col-md-7">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
    </div>
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 text-center">
        <h1 class="display-1 may-regular">frontrow</h1>
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input ngx-google-places-autocomplete [options]="options" type="text" class="form-control"
                       [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch"
                       placeholder="{{ 'frontrowApp.edition.location' | translate }}"
                       (onAddressChange)="handleAddressChange($event)">
                <button class="input-group-append btn btn-info" [routerLink]="['./explore']" [queryParams]="{ 'loc': currentSearch, 'radio': 10, 'lat': latitude, 'lng': longitude}" [preserveQueryParams]="false">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <hr>
    </div>
    <div class="col-lg-5 offset-sm-2">
        <h2 jhiTranslate="home.latestNews">Latest news</h2>
        <div class="card shadow-sm mt-3" *ngFor="let post of posts ;trackBy: trackPostId">
            <a *ngIf="post.handle" [routerLink]="['post', post.handle]" class="stretched-link">
            </a>
            <a *ngIf="post.template" [routerLink]="['f', post.editionName, post.editionYear]" class="stretched-link">
            </a>
            <div class="row no-gutters">
                <div class="col-lg-12 d-flex align-items-stretch no-gutters">
                    <div class="col-lg-4" *ngIf="post.logo" [ngStyle]="{ 'background-image' : 'url(\'data:' + post.logoContentType + ';base64,' + post.logo + '\')', 'background-size': 'contain', 'min-height' : '9em'}">
                    </div>
                    <div class="col-lg-4" *ngIf="!post.logo" [ngStyle]="{ 'background-image' : 'url(https://reactstrap.github.io/assets/318x180.svg)', 'background-size': 'contain', 'min-height': '9em'}">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body row">
                            <div class="col-12">
                                <div class="card-title">
                                    <h3 *ngIf="post.template" jhiTranslate="{{post.template}}"
                                        [translateValues]="post.template == 'frontrowApp.post.templates.twoArtists' ? {artist1: post.title.split(', ')[0], artist2: post.title.split(', ')[1], festival: post.editionName + ' ' + post.editionYear}  : {artists: post.title, festival: post.editionName + ' ' + post.editionYear}">
                                        {{post.title}}
                                    </h3>
                                    <h3 *ngIf="!post.template">
                                        {{post.title}}
                                    </h3>
                                </div>
                                <div class="card-subtitle"><h6><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon> {{postDate(post.date)}}</h6></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 offset-sm-2 offset-lg-0">
        <h2 jhiTranslate="home.myFestivals">My festivals</h2>
        <div class="card shadow-sm mt-3" *ngFor="let edition of editions ;trackBy: trackEditionId">
            <a [routerLink]="['f', edition.festivalName, edition.startDate.year()]" class="stretched-link">
            </a>
            <div class="row no-gutters">
                <div class="col-lg-12 d-flex align-items-stretch no-gutters">
                    <div class="col-lg-4" *ngIf="edition.logo" [ngStyle]="{ 'background-image' : 'url(\'data:' + edition.logoContentType + ';base64,' + edition.logo + '\')', 'background-size': 'contain', 'min-height' : '9em'}">
                    </div>
                    <div class="col-lg-4" *ngIf="!edition.logo" [ngStyle]="{ 'background-image' : 'url(https://reactstrap.github.io/assets/318x180.svg)', 'background-size': 'contain', 'min-height': '9em'}">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body row">
                            <div class="col-12">
                                <div class="card-title">
                                    <span *ngIf="edition.canceled" class="badge badge-warning"><fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon> <span jhiTranslate="frontrowApp.edition.canceled">Cancelado</span></span>
                                    <h3>{{edition.festivalName}} {{edition.startDate.year()}}</h3>
                                </div>
                                <div class="card-subtitle"><h6><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon> {{festivalDate(edition.startDate, edition.endDate)}}</h6></div>
                                <div class="card-subtitle"><h6><fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon> {{edition.location}}</h6></div>
                                <div class="card-text text-truncate-4lines text-justify">
                                    {{commaSeparatedArtists(edition.artists)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
