<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <h2 class="display-4">{{post.title}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-6">
                    <p><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon> {{postDate(post.date)}}  &nbsp;&nbsp;<fa-icon [icon]="['fas', 'user']"></fa-icon> {{post.authorLogin}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12" [innerHTML]="postContent(post.content) | safeHtml">
                </div>
            </div>
            <hr/>
            <hr/>
            <div class="col-12 blog-comment">
                <h4 jhiTranslate="frontrowApp.comment.comments">Comentarios</h4>
                <hr/>
                <div class="row">
                    <form class="col-12" name="commentForm" role="form" novalidate (ngSubmit)="addComment()" [formGroup]="commentForm">
                        <div>
                            <div>
                                <div class="form-group">
                                    <textarea rows="2" class="form-control" id="field_comment" formControlName="text"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="float-right">
                            <button type="submit" id="save-entity" [disabled]="commentForm.invalid || isSaving" class="btn btn-primary">
                                <fa-icon [icon]="'comments'"></fa-icon>&nbsp;<span jhiTranslate="frontrowApp.comment.comment">Comentar</span>
                            </button>
                        </div>
                    </form>
                </div>
                <ul class="comments mt-3" *ngIf="comments?.length > 0" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <li class="clearfix" *ngFor="let comment of comments ;trackBy: trackId">
                        <img src="{{comment.authorImageUrl ? comment.authorImageUrl : 'https://bootdey.com/img/Content/user_2.jpg'}}" class="avatar" alt="">
                        <div class="post-comments">
                            <p class="meta"><a href="#">{{comment.authorLogin}}</a>:
                                <em class="float-right meta">{{dateTime(comment!.date)}}</em>
                                <span *ngFor="let badge of comment.authorBadges | keyvalue" class="float-right meta" style="filter: drop-shadow(2px 1px 1px lightgray)">
                                    <fa-icon style="color: {{badge.value}};" [icon]="badge.key" transform="grow-9 right-4"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span></p>
                            <p [innerText]="comment.text">
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
