<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <h2><span jhiTranslate="frontrowApp.post.detail.title">Post</span> {{ post.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="frontrowApp.post.title">Title</span></dt>
                <dd>
                    <span>{{ post.title }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.post.handle">Handle</span></dt>
                <dd>
                    <span>{{ post.handle }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.post.content">Content</span></dt>
                <dd>
                    <span>{{ post.content }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.post.template">Template</span></dt>
                <dd>
                    <span>{{ post.template }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.post.date">Date</span></dt>
                <dd>
                    <span>{{ post.date }}</span>
                </dd>
                <dt><span jhiTranslate="frontrowApp.post.author">Author</span></dt>
                <dd>
                    {{ post.authorLogin }}
                </dd>
                <dt><span jhiTranslate="frontrowApp.post.editor">Editor</span></dt>
                <dd>
                    {{ post.editorLogin }}
                </dd>
                <dt><span jhiTranslate="frontrowApp.post.edition">Edition</span></dt>
                <dd>
                    <div *ngIf="post.editionId">
                        <a [routerLink]="['/edition', post.editionId, 'view']">{{ post.editionName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/post', post.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
